*~
*.pyc
*.mypy_cac*
*.orig
*.bak
.DS_Store
*.vcd
*/*.log
build_cdl/*
install/*
configure
config.h
config.status
config.log
regression/build/*
*.cache*
aclocal.m4
Makefile_build_config
regression/tests/memory/small_reversed_output.mif
regression/tests/vector/fred.cov